@font-face {
font-family: 'FontAwesome';
src: url('../fonts/fontawesome-webfont.eot');
src: url('../fonts/fontawesome-webfont.svg#fontawesome-webfont') format('svg'),
url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/fontawesome-webfont.woff') format('woff'),
url('../fonts/fontawesome-webfont.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}

/* ==========================================================================
   navbar
   ========================================================================== */
.navbar-default{
    background-color:transparent;
    border-bottom-color:transparent;
}
.navbar-default .navbar-nav li a{
    color:white;
}
.navbar-default .navbar-nav li a:hover{
    color:#16a085;
}
.navbar-nav{
    font-family: 'Signika Negative', sans-serif;
    margin: 35px 100px 0;
}
.navbar .container{
    background-color:black;
    width:100%;
}
.logo img{
    margin:5px 0 10 100px;
    padding-left:20px;
}
.navbar-toggle{
    margin-right:30px;
}

/* ==========================================================================
   media query
   ========================================================================== */


@media(max-width:786px){
    .logo img{
        visibility:hidden;
    }
    .navbar-nav{
        margin:0;
    }
    #footer{
        text-align:center;
    }
    #footer img{
        margin:0 auto;
    }    
}
/* ==========================================================================
   carousel
   ========================================================================== */
#slider{
    width:100%;
    padding-left:0px;
    padding-right:0px;
    margin-left:0px;
    margin-right:0px;
    display:block;
    height:auto;
    border-bottom:1px;
    border-bottom-color:white;
    padding-bottom:80px;
}

.container-fluid{
    padding-left:0px;
    padding-right:0px;
    margin-right:0px;
    margin-left:0px;
    overflow: hidden
}
.carousel{
    padding-right:0px;
    margin-right:0px;
}
.carousel-inner .item{
    background-color:black;
    height:100%;
}

.carousel-inner .item img{
    opacity:0.6;
}
.overlay {
    font-family: 'Signika Negative', sans-serif;
    color:#fff;
    position:absolute;
    z-index:12;
    top:40%;
    left:0;
    width:100%;
    text-align:center;
}
.OverlayPic{
    position:absolute;
    z-index:11;
    top:57%;
    left:0;
    padding-left:70px;
}
.carousel-indicators li{
    background-color:#fff;
    margin:5px;
    display:inline-block:
}
.carousel-indicators .active{
    background-color:#16a085;
    border:1px solid #16a085;
    margin:4px;  
}
.btn-success{
    background-color:#16a085;
    border-color:#16a085;
    background-image:none;
    font-size:1.4em;
}
.btn-success:hover{
    background-color:#0e6655;
    border-color:#0e6655;
    color:white;
}
.btn-success:focus, .btn-success:active:focus{
    background-color:#16a085;    
}
/* ==========================================================================
   photo section
   ========================================================================== */
#photo{
    background-color:#f5f6f7;
    padding-bottom:80px;
    text-align:center;
}
#photo h1{
    font-size:1.6em;
    font-weight:700;
    color:#16a085;
}
#photo .fa{
    color:#16a085;
}
#photo .fa:hover{
    color:#0e6655;
}
/* ==========================================================================
   design section
   ========================================================================== */
#design{
    padding:80px 0 80px;
}
#design h1{
    font-size:1.8em;
    font-weight:700;
    color:#16a085;
    padding-top:30px;
}
.design-image img{
    width:80%;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 60px;
    margin-left:auto;
    margin-right:auto;
}
.button{
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
}
/* ==========================================================================
   community section
   ========================================================================== */
#community{
    background-color:#f5f6f7;
    text-align:center;
}
#community .sqimg{
    padding-top:60px;
    padding-bottom:80px;    
}
#community .logoimg{
    padding-top:80px;  
}
#community h2{
    font-size:1.4em;
    font-weight:700;
    color:#16a085;
    padding-top:10px;
    text-align:center;
}
/* ==========================================================================
   signup section
   ========================================================================== */
#signup{
    font-family: 'Signika Negative', sans-serif;
    background-image:url("../img/signupBG.png");
    background-color:black;
    width:100%;
    background-size:cover;
    padding:300px 0 300px;
    color:white;
}
#signup h1{
    font-size:1.8em;
    font-weight:700;
    text-align:center;
}
.inputgroup{
    display:block;
    margin: 0 auto;
    float: none;  
}
.input-group-button button{
    margin-top:20px;
    display:block;
    margin: 0 auto;
    float: none;  
}
.form-control{
    width:30%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}
#signup .btn i{
    padding-right:10px;
}
/* ==========================================================================
   download section
   ========================================================================== */
#downloads{
    background-color:#f5f6f7;
}
#downloads h1{
    font-size:1.8em;
    font-weight:700;
    text-align:center;
    color:#16a085;
    padding:30px 0 30px;   
}
#downloads p{
    text-align:center;
}
#downloads .button-group{
    text-align:center;
    margin-bottom:60px;
    margin-top:10px;
    font-size:1.0em;
}
#downloads .btn{
    text-align:center;
    margin-right:20px;
    margin-top:20px;
}
#downloads .btn i{
    padding-right:10px;
}
/* ==========================================================================
   footer section
   ========================================================================== */
#footer{
    padding:50px 0 50px;
}
#footer p{
    font-weight:700;
}
#footer a{
    color:#000;
}
#footer a:hover{
    color:#16a085;
}